# virtual env
venv/

#migrations
migrations/

# cache file
*.pyc
__pycache__
**/__pycache__

#logs
logs/

# pylint
pylintrc

#config file
.env

# local test database
app.db

# vs code settings
.vscode/