# virtual env
venv/

# cache file
*.pyc
__pycache__
**/__pycache__

#database
app.db

#config file
.env

# database migration folder
migrations/

# logs
logs/

#vs code settings
.vscode/

# https setting
SSL/