# virtual env
venv/

#migrations
migrations/

# cache file
*.pyc
__pycache__
**/__pycache__

#logs
logs/

# pylint
pylintrc

#config file
.env
config.py

# local test database
app.db

# vs code settings
.vscode/

# https certificate
SSL/

# images
app/static/images

#generated static files
app/static/gen
app/static/.webassets-cache