alabaster==0.7.9
alembic==1.0.5
anaconda-clean==1.0
anaconda-client==1.5.1
anaconda-navigator==1.3.1
argcomplete==1.0.0
astroid==1.6.3
astropy==1.2.1
attrs==18.1.0
Automat==0.6.0
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
bitarray==0.8.1
bjson==0.2.7
blaze==0.10.1
blinker==1.4
bokeh==0.12.2
boto==2.42.0
Bottleneck==1.1.0
cairocffi==0.9.0
CairoSVG==2.2.1
cffi==1.7.0
chardet==3.0.4
chest==0.2.3
click==6.6
cloudpickle==0.2.1
clyent==1.2.2
colorama==0.3.9
comtypes==1.1.2
conda==4.2.9
conda-build==2.0.2
configobj==5.0.6
constantly==15.1.0
contextlib2==0.5.3
cryptography==1.5
cssselect2==0.2.1
cycler==0.10.0
Cython==0.24.1
cytoolz==0.8.0
dask==0.11.0
datashape==0.5.2
decorator==4.0.10
defusedxml==0.5.0
dill==0.2.5
docutils==0.12
dominate==2.3.5
dynd===c328ab7
elasticsearch==6.3.1
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==2.0.6
Flask==0.11.1
Flask-Blogging==1.1.0
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.4.0
Flask-Cors==2.1.2
Flask-FileUpload==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.3.1
Flask-Misaka==0.4.1
Flask-Moment==0.6.0
Flask-Principal==0.4.0
Flask-SimpleMDE==0.3.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.16.0
gevent==1.1.2
greenlet==0.4.10
h5py==2.6.0
HeapDict==1.0.0
html2pdf==0.1
html5lib==1.0.1
hyperlink==18.0.0
idna==2.6
imagesize==0.7.1
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.3.4
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
lazy-object-proxy==1.3.1
llvmlite==0.13.0
locket==0.2.0
lockfile==0.12.2
lxml==3.6.4
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.6.1
menuinst==1.4.1
misaka==2.1.1
mistune==0.7.3
mpmath==0.19
msgpack-python==0.5.6
multipledispatch==0.4.8
nb-anacondacloud==1.2.0
nb-conda==2.0.0
nb-conda-kernels==2.0.0
nbconvert==4.2.0
nbformat==4.1.0
nbpresent==3.0.2
nem-ed25519==0.0.6
netifaces==0.10.7
networkx==1.11
nltk==3.2.1
nose==1.3.7
notebook==4.2.3
ntplib==0.3.3
numba==0.28.1
numexpr==2.6.1
numpy==1.11.1
oauthlib==2.1.0
odo==0.5.0
openpyxl==2.3.2
p2p-python==1.0.6
pandas==0.18.1
partd==0.3.6
path.py==0.0.0
pathlib2==2.1.0
patsy==0.4.1
pdfkit==0.6.1
pdfminer.six==20170720
pdfrw==0.4
pep8==1.7.0
pickleshare==0.7.4
Pillow==5.3.0
pkginfo==1.3.2
ply==3.9
prompt-toolkit==1.0.3
psutil==4.3.1
psycopg2==2.7.6.1
py==1.4.31
pyasn1==0.1.9
pycodestyle==2.4.0
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycryptodome==3.6.6
pycryptodomex==3.6.1
pycurl==7.43.0
pyflakes==1.3.0
Pygments==2.1.3
PyJWT==1.7.1
pylint==1.8.4
pylint-flask==0.5
pylint-plugin-utils==0.4
PyMuPDF==1.13.20
pyOpenSSL==16.0.0
pyparsing==2.1.4
PyPDF2==1.26.0
Pyphen==0.9.5
pyroute2==0.5.1
pysha3==1.0.2
pytesseract==0.2.5
python-daemon==2.1.2
python-dateutil==2.5.3
python-dotenv==0.10.1
python-editor==1.0.3
python-slugify==2.0.0
PyTumblr==0.0.7
pytz==2016.6.1
pywin32==220
PyYAML==3.12
pyzmq==15.4.0
QtAwesome==0.3.3
qtconsole==4.2.1
QtPy==1.1.2
reportlab==3.5.9
requests==2.11.1
requests-oauthlib==1.0.0
rope==0.10.7
rope-py3k==0.9.4.post1
ruamel-yaml===-VERSION
schedule==0.5.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.18.1
selenium==3.11.0
shortuuid==0.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
sphinx==1.4.6
spyder==3.0.0
SQLAlchemy==1.0.13
statsmodels==0.6.1
sympy==1.0
tables==3.2.2
tinycss2==0.6.1
toolz==0.8.0
tornado==4.4.1
traitlets==4.3.0
Twisted==18.4.0
umsgpack==0.1.0
unicodecsv==0.14.1
Unidecode==1.0.23
urllib3==1.24.1
visitor==0.1.3
wcwidth==0.1.7
WeasyPrint==0.42.3
webencodings==0.5.1
Werkzeug==0.11.11
widgetsnbextension==1.2.6
win-unicode-console==0.5
wrapt==1.10.11
WTForms==2.2.1
xhtml2pdf==0.2.3
xlrd==1.0.0
XlsxWriter==0.9.3
xlwings==0.10.0
xlwt==1.1.2
xmltodict==0.11.0
zope.interface==4.5.0
