<h2>
    <a href="{{ url_for('main.detail', post_id=post.id) }}">{{post.title}}</a>
</h2>
<p><span class="glyphicon glyphicon-time"></span> 
    Posted by Daily German on {{ moment(post.timestamp).format('LLL') }}
</p>
<hr>
    <img class="img-responsive" src="{{url_for('static', filename=post.img_path)}}" alt="">
<hr>
<p>{{ post.content | markdown | safe}}</p>
<a class="btn btn-primary" href="{{ url_for('main.detail', post_id=post.id) }}">
    Read More <span class="glyphicon glyphicon-chevron-right"></span>
</a>

<hr>
