{% extends "base.html" %}
{% block app_content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>
            {{post.title}}
            </h2>
            {% if post.img_path %}
            <hr>
                <img class="img-responsive" src="{{resized_img_src(post.img_path, width=900, height=400, mode='crop', quality=95)}}" alt="Photo by Paul Minami on Unsplash">
            {% endif %}
            <hr>
            {{post.content | markdown }}
        </div>
    </div>
{% endblock %}