{% extends 'bootstrap/base.html' %}
{% include 'header.html' %}

{% block title %}
    {% if title %}{{ title }} - Daily German{% else %}Daily German{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar-custom navbar-default">
      <div class="container-fluid">
        <ul class="nav nav-bar">
          <li><a href="{{ url_for('main.home') }}">Home</a></li>
          <li><span><img class="logo" src="{{ resized_img_src('images/favicon-32x32.webp', width=32, height=32) }}"/></span> </li>
          <li><a href="{{ url_for('main.about') }}">About</a></li>
          <!--li><a href="{{ url_for('main.contact') }}">Contact</a></li-->
        </ul>
       </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container main">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>

    {% block footer %}
        <footer class="footer">
        <div class="text-center">
            <div class="col-md-8 col-md-8 col-md-offset-2">
                &copy; Daily German 2019
                <a href="https://www.instagram.com/fabian082yang" class="btn btn-social-icon btn-lg btn-instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.github.com/tryToCode" class="btn btn-social-icon btn-lg btn-github"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/dong-yang-389570ba" class="btn btn-social-icon btn-lg btn-linkedin"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
      </footer>
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('de')}}
{% endblock %}
