<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.webp">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicon-192x192.webp">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/images/favicon-512x512.webp">
    <!--link rel="manifest" href="./manifest.json" /-->
    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133276016-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133276016-1');
    </script>

</head>
