{% extends "base.html" %}

{% block app_content %}
    <div class="row">
      <div class="col-md-8">
          {% for post in posts %}
            {% include '_post.html' %}
          {% endfor %}

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
              <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
              </li>
          </ul>
      </div>

      <div class="col-md-4 position-top">
          <div class="well cat-container">
              <h4>Kategorie</h4>
              <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                      <ul class="list-unstyled cat-list">
                        <li>
                            <a href="{{url_for('main.home')}}">
                            <p>
                                <span>All</span>
                                <span class="pull-right">{% if allPosts %} ({{allPosts|length}}) {% else %} 0 {% endif %}</span>
                            </p>
                            </a>
                        </li>
                        <li><a href="{{url_for('main.dailyGerman')}}">
                            <p>
                                <span>Daily German</span>
                                <span class="pull-right">({{ allPosts | selectattr('categorie', 'equalto','DailyGerman') | list | length}})</span>
                            </p>
                            </a>
                        </li>
                        <li><a href="{{url_for('main.working')}}">
                            <p>
                                <span>Working</span>
                                <span class="pull-right">({{ allPosts | selectattr('categorie', 'equalto','Working') | list | length}})</span>
                            </p>
                            </a>
                        </li>
                        <li><a href="{{url_for('main.interview')}}">
                            <p>
                                <span>Interview</span>
                                <span class="pull-right">({{ allPosts | selectattr('categorie', 'equalto','Interview') | list | length}})</span>
                            </p>
                            </a>
                        </li>
                        <li><a href="{{url_for('main.film')}}">
                            <p>
                                <span>Film</span>
                                <span class="pull-right">({{ allPosts | selectattr('categorie', 'equalto','Film') | list | length}})</span>
                            </p>
                            </a>
                        </li>
                        <li><a href="{{url_for('main.song')}}">
                            <p>
                                <span>Song</span>
                                <span class="pull-right">({{ allPosts | selectattr('categorie', 'equalto','Song') | list | length}})</span>
                            </p>
                            </a>
                        </li>
                        <!--li><a href="{{url_for('main.friends')}}">
                            <p>
                                <span>Friends</span>
                                <span class="pull-right">({{ allPosts | selectattr('categorie', 'equalto','Friends') | list | length}})</span>
                            </p>
                            </a>
                        </li-->
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <a id="backToTop" onclick="topFunction()" class="btn btn-social-icon btn-lg"><i class="fas fa-arrow-circle-up"></i></a>
    </div>
{% endblock app_content %}