{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <!-- Custom sticky footer stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/category.css')}}" />
{% endblock %}

{% block app_content %}
    <div class="row">
      <div class="col-md-8">
          {% for post in posts %}
            {% include '_post.html' %}
          {% endfor %}

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
              <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
              </li>
          </ul>
      </div>

      <div class="col-md-4 position-top">
          <div class="well">
              <h4>Kategorie</h4>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="list-unstyled cat-list">
                              <li>
                                  <a class="d-flex justify-content-center" href="{{url_for('main.home')}}">
                                  All {% if allPosts %} ({{allPosts|length}}) {% else %} 0 {% endif %}
                                  </a>
                              </li>
                              <li><a class="d-flex justify-content-center" href="{{url_for('main.dailyGerman')}}">
                                  Daily German ({{ allPosts | selectattr('categorie', 'equalto','DailyGerman') | list | length}})
                                  </a>
                              </li>
                              <li><a class="d-flex justify-content-center" href="{{url_for('main.working')}}">
                                  Working ({{ allPosts | selectattr('categorie', 'equalto','Working') | list | length}})
                                  </a>
                              </li>
                              <li><a class="d-flex justify-content-center" href="{{url_for('main.interview')}}">
                                  Interview ({{ allPosts | selectattr('categorie', 'equalto','Interview') | list | length}})
                                  </a>
                              </li>
                              <li><a class="d-flex justify-content-center" href="{{url_for('main.film')}}">
                                  Film ({{ allPosts | selectattr('categorie', 'equalto','Film') | list | length}})
                                  </a>
                              </li>
                              <li><a class="d-flex justify-content-center" href="{{url_for('main.song')}}">
                                  Song ({{ allPosts | selectattr('categorie', 'equalto','Song') | list | length}})
                                  </a>
                              </li>
                              <li><a class="d-flex justify-content-center" href="{{url_for('main.friends')}}">
                                  Friends ({{ allPosts | selectattr('categorie', 'equalto','Friends') | list | length}})
                                  </a>
                              </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
{% endblock app_content %}