{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
    <!-- Custom sticky footer stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/comments.css')}}" />
{% endblock %}

{% block app_content %}
<div class="row"> 
    <div class="col-md-8 col-md-8 col-md-offset-2"> 
        <h2>
            {{post.title}}
        </h2>
        <p><span class="glyphicon glyphicon-time"></span> 
            Posted on {{ moment(post.timestamp).format('LLL') }}
        </p>
        {% if post.video_id %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ "https://player.vimeo.com/video/" ~ post.video_id }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        {% endif %}
        <p>{{ post.content | markdown | safe}}</p>

        {{ share.create(title='Teilen: ', sites='wechat, facebook, twitter, google, linkedin') }}

        <hr>
        {% if comments %}
        <p>{{comments|length}} Kommentare</p>
        {% endif %}
        {% for comment in comments %}
            {% include '_comment.html' %}
        {% endfor %}
        <hr>
        {{ wtf.quick_form(form) }}
    </div>
</div>

{% endblock %}
    