{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
  {{ super() }}
  {{ share.load() }}
{% endblock %}

{% block app_content %}
<div class="row">
    <div class="col-md-8 col-md-8 col-md-offset-2">
        <h2>
            {{post.title}}
        </h2>
        <p><span class="glyphicon glyphicon-time"></span>
            Daily German {{ moment(post.timestamp).format('LL') }}
        </p>
        {% if post.img_path %}
        <hr>
            <img class="img-responsive" src="{{resized_img_src(post.img_path, width=900, height=500, mode='crop', quality=95)}}" alt="">
        {% endif %}
        <hr>
        <p>{{ post.content | markdown | safe}}</p>

        <p>
        {{ share.create(title='Teilen: ', sites='wechat, facebook, twitter, google, linkedin') }}
        </p>

        {% if comments %}
        <hr>
        <p>{{comments|length}} Kommentare</p>
        {% endif %}
        {% for comment in comments %}
            {% include '_comment.html' %}
        {% endfor %}
        <hr>
        <h3>Dein kommentar hinzufügen</h3>
        {{ wtf.quick_form(form) }}

    </div>

    <a id="backToTop" onclick="topFunction()" class="btn btn-social-icon btn-lg"><i class="fas fa-arrow-circle-up"></i></a>
</div>
{% endblock %}
